n8n-workflows/exports/01-lead-capture-website-form.json
[{"updatedAt":"2026-06-26T09:49:27.637Z","createdAt":"2026-06-10T08:34:11.919Z","id":"PBf0oGbrZJiePTbp","name":"01 Lead Capture - Website Form","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"lead","responseMode":"responseNode","options":{}},"alwaysOutputData":true,"id":"webhook-1","name":"Webhook (POST /lead)","position":[240,352],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"cde8bf40-8043-4b69-baf8-3b1882bcd6a2","onError":"continueRegularOutput"},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"c96a2a34-e8f6-4b71-99e4-60842fd04fdf","leftValue":"={{ $json.body.name }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""},{"id":"f3036e52-1bdd-4add-adeb-d1c21b67a982","leftValue":"={{ $json.body.email }}","operator":{"operation":"notEmpty","singleValue":true,"type":"string"},"rightValue":""}],"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3}},"options":{"ignoreCase":true}},"id":"if-validate","name":"Validate Required Fields","position":[464,352],"type":"n8n-nodes-base.if","typeVersion":2.3},{"parameters":{"respondWith":"json","responseBody":"={\n  \"error\": \"name and email are required\"\n}","options":{"responseCode":400}},"id":"respond-400","name":"Respond 400 Invalid","position":[688,448],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5},{"parameters":{"operation":"executeQuery","query":"SELECT id, score, category FROM leads WHERE email = $1 LIMIT 1","options":{"queryReplacement":"={{ $json.body.email }}"}},"alwaysOutputData":true,"id":"pg-lookup","maxTries":2,"name":"Lookup Lead by Email","position":[688,256],"retryOnFail":true,"type":"n8n-nodes-base.postgres","typeVersion":2.6,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"34b2de2e-2039-424a-8076-08a511325a32","leftValue":"={{ $json.id }}","operator":{"operation":"exists","singleValue":true,"type":"number"},"rightValue":0}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3}},"options":{}},"id":"if-exists","name":"Lead Exists?","position":[912,256],"type":"n8n-nodes-base.if","typeVersion":2.3},{"parameters":{"operation":"executeQuery","query":"UPDATE leads\nSET phone      = COALESCE(NULLIF($1, ''), phone),\n    company    = COALESCE(NULLIF($2, ''), company),\n    source     = COALESCE(NULLIF($3, ''), source),\n    updated_at = NOW()\nWHERE email = $4\nRETURNING id, name, email, phone, company, source, score, category;","options":{"queryReplacement":"={{ $('Webhook (POST /lead)').first().json.body.phone || '' }},{{ $('Webhook (POST /lead)').first().json.body.company || '' }},{{ $('Webhook (POST /lead)').first().json.body.source || '' }},{{ $('Webhook (POST /lead)').first().json.body.email }}"}},"id":"pg-update","maxTries":2,"name":"Update Existing Lead","position":[1136,160],"retryOnFail":true,"type":"n8n-nodes-base.postgres","typeVersion":2.6,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"updated\",\n  \"id\": {{ $json.id }}\n}","options":{"responseCode":200}},"id":"respond-updated","name":"Respond Updated 200","position":[1360,160],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5},{"parameters":{"schema":{"__rl":true,"cachedResultName":"public","mode":"list","value":"public"},"table":{"__rl":true,"cachedResultName":"leads","mode":"list","value":"leads"},"columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","matchingColumns":["email"],"schema":[{"canBeUsedToMatch":true,"displayName":"name","id":"name","required":true,"type":"string"},{"canBeUsedToMatch":true,"displayName":"email","id":"email","required":true,"type":"string"},{"canBeUsedToMatch":false,"displayName":"phone","id":"phone","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"company","id":"company","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"source","id":"source","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"status","id":"status","required":false,"type":"string"}],"value":{"company":"={{ $('Webhook (POST /lead)').first().json.body.company || null }}","email":"={{ $('Webhook (POST /lead)').first().json.body.email }}","name":"={{ $('Webhook (POST /lead)').first().json.body.name }}","phone":"={{ $('Webhook (POST /lead)').first().json.body.phone || null }}","source":"={{ $('Webhook (POST /lead)').first().json.body.source || 'website' }}","status":"new"}},"options":{"outputColumns":["id","name","email","phone","company","source","status"]}},"id":"pg-insert","maxTries":2,"name":"Insert New Lead","position":[1136,352],"retryOnFail":true,"type":"n8n-nodes-base.postgres","typeVersion":2.6,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"created\",\n  \"id\": {{ $('Insert New Lead').first().json.id }}\n}","options":{"responseCode":201}},"id":"respond-created","name":"Respond Created 201","position":[1360,352],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5},{"parameters":{"workflowId":{"__rl":true,"cachedResultName":"01 Lead Capture - Lead Scoring","cachedResultUrl":"/workflow/GMk2rAT2eJSDLAmz","mode":"list","value":"GMk2rAT2eJSDLAmz"},"workflowInputs":{"attemptToConvertTypes":true,"convertFieldsToString":false,"mappingMode":"defineBelow","schema":[{"canBeUsedToMatch":false,"displayName":"lead_id","id":"lead_id","required":false,"type":"number"},{"canBeUsedToMatch":false,"displayName":"name","id":"name","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"email","id":"email","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"phone","id":"phone","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"company","id":"company","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"source","id":"source","required":false,"type":"string"}],"value":{"company":"={{ $json.company }}","email":"={{ $json.email }}","lead_id":"={{ $json.id }}","name":"={{ $json.name }}","phone":"={{ $json.phone }}","source":"={{ $json.source }}"}},"options":{"waitForSubWorkflow":true}},"id":"exec-scoring","name":"Trigger Lead Scoring","position":[1584,352],"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b1","name":"lead_id","type":"number","value":"={{ $json.lead_id }}"},{"id":"b2","name":"score","type":"number","value":"={{ $json.score }}"},{"id":"b3","name":"category","type":"string","value":"={{ $json.category }}"},{"id":"b4","name":"firstName","type":"string","value":"={{ ($('Insert New Lead').first().json.name || '').split(' ')[0] }}"},{"id":"b5","name":"company","type":"string","value":"={{ $('Insert New Lead').first().json.company || 'your company' }}"},{"id":"b6","name":"email","type":"string","value":"={{ $('Insert New Lead').first().json.email }}"},{"id":"b7","name":"query","type":"string","value":"={{ $json.category === 'Hot' ? 'pricing plans, demo booking, and enterprise features for ' + ($('Insert New Lead').first().json.company || 'a prospective customer') : ($json.category === 'Warm' ? 'case studies and key product features relevant to ' + ($('Insert New Lead').first().json.company || 'a prospective customer') : 'getting started overview and free trial information') }}"}]},"options":{}},"id":"build-context","name":"Build Welcome Context","position":[1808,352],"type":"n8n-nodes-base.set","typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"cachedResultName":"03 Knowledge Base - Query","cachedResultUrl":"/workflow/hRqXHmh2Uk42fAKq","mode":"list","value":"hRqXHmh2Uk42fAKq"},"workflowInputs":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","schema":[{"canBeUsedToMatch":false,"displayName":"query","id":"query","required":false,"type":"string"}],"value":{"query":"={{ $json.query }}"}},"options":{"waitForSubWorkflow":true}},"id":"exec-rag","name":"RAG Query","position":[2032,352],"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"onError":"continueRegularOutput"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"id":"email-llm","name":"OpenRouter Email Model","position":[2336,576],"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"credentials":{"openRouterApi":{"id":"KcmSbiXzRcwbyleM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Write a personalized welcome email to this new lead.\n\nLead first name: {{ $('Build Welcome Context').first().json.firstName }}\nCompany: {{ $('Build Welcome Context').first().json.company }}\nScore: {{ $('Build Welcome Context').first().json.score }}\nCategory: {{ $('Build Welcome Context').first().json.category }}\n\nRelevant knowledge base context:\n---\n{{ $json.context }}\n---\n\nWrite only the email body. Start with a greeting using the lead's first name.","messages":{"messageValues":[{"message":"You are a friendly sales development representative for a B2B SaaS company. You write short, warm, personalized first-touch emails to new leads.\n\nRules you must follow:\n1. Use ONLY the provided knowledge base context for any product, pricing, or feature claims.\n2. Never invent pricing, features, policies, or commitments not in the context.\n3. Match the tone to the lead's score category: Hot = confident and direct with a clear call-to-action to book a demo or call; Warm = helpful, share one relevant resource or capability that fits their context; Cold = light and friendly, thank them and point to a getting-started/overview resource.\n4. Address the lead by their first name.\n5. Keep it under 120 words. No subject line. Do not sign with a name - leave the signature blank.\n6. If the context is empty or irrelevant, send a brief, generic-but-warm thank-you without specific claims."}]},"batching":{}},"id":"gen-email","maxTries":2,"name":"Generate Welcome Email","position":[2256,352],"retryOnFail":true,"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"cachedResultName":"public","mode":"list","value":"public"},"table":{"__rl":true,"cachedResultName":"approval_queue","mode":"list","value":"approval_queue"},"columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","schema":[{"canBeUsedToMatch":false,"displayName":"type","id":"type","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"lead_id","id":"lead_id","required":false,"type":"number"},{"canBeUsedToMatch":false,"displayName":"recipient_email","id":"recipient_email","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"subject","id":"subject","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"draft_body","id":"draft_body","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"context_sources","id":"context_sources","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"status","id":"status","required":false,"type":"string"}],"value":{"context_sources":"={{ JSON.stringify($('RAG Query').first().json.sources || []) }}","draft_body":"={{ $json.text }}","lead_id":"={{ $('Build Welcome Context').first().json.lead_id }}","recipient_email":"={{ $('Build Welcome Context').first().json.email }}","status":"pending","subject":"=Thanks for reaching out, {{ $('Build Welcome Context').first().json.firstName }}","type":"lead_welcome"}},"options":{}},"id":"pg-approval","maxTries":2,"name":"Insert Approval Queue","position":[2608,352],"retryOnFail":true,"type":"n8n-nodes-base.postgres","typeVersion":2.6,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"cachedResultName":"public","mode":"list","value":"public"},"table":{"__rl":true,"cachedResultName":"interactions","mode":"list","value":"interactions"},"columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","schema":[{"canBeUsedToMatch":false,"displayName":"lead_id","id":"lead_id","required":false,"type":"number"},{"canBeUsedToMatch":false,"displayName":"event_type","id":"event_type","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"description","id":"description","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"metadata","id":"metadata","required":false,"type":"string"}],"value":{"description":"=Welcome email drafted for {{ $('Build Welcome Context').first().json.firstName }} ({{ $('Build Welcome Context').first().json.category }})","event_type":"lead_welcome_generated","lead_id":"={{ $('Build Welcome Context').first().json.lead_id }}","metadata":"={{ JSON.stringify({ score: $('Build Welcome Context').first().json.score, category: $('Build Welcome Context').first().json.category }) }}"}},"options":{}},"id":"pg-interaction","name":"Log Interaction","position":[2832,352],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"sendTo":"you@example.com","subject":"=New {{ $('Build Welcome Context').first().json.category }} lead: {{ $('Insert New Lead').first().json.name }} ({{ $('Insert New Lead').first().json.source }})","emailType":"text","message":"=A new lead just came in and a personalized welcome draft is queued for approval.\n\nName: {{ $('Insert New Lead').first().json.name }}\nEmail: {{ $('Insert New Lead').first().json.email }}\nCompany: {{ $('Insert New Lead').first().json.company || 'n/a' }}\nSource: {{ $('Insert New Lead').first().json.source }}\nScore: {{ $('Build Welcome Context').first().json.score }} ({{ $('Build Welcome Context').first().json.category }})\nLead ID: {{ $('Insert New Lead').first().json.id }}\n\nReview the draft in the dashboard approvals queue.","options":{}},"id":"gmail-notify","name":"Notify Sales (Gmail)","position":[3056,352],"type":"n8n-nodes-base.gmail","typeVersion":2.1,"webhookId":"19e4bac3-a909-46fb-945d-a1249062dc91","credentials":{"gmailOAuth2":{"id":"bfQgEJg6hnBa4yMf","name":"Gmail account"}},"onError":"continueRegularOutput"}],"connections":{"Webhook (POST /lead)":{"main":[[{"index":0,"node":"Validate Required Fields","type":"main"}]]},"Validate Required Fields":{"main":[[{"index":0,"node":"Lookup Lead by Email","type":"main"}],[{"index":0,"node":"Respond 400 Invalid","type":"main"}]]},"Lookup Lead by Email":{"main":[[{"index":0,"node":"Lead Exists?","type":"main"}]]},"Lead Exists?":{"main":[[{"index":0,"node":"Update Existing Lead","type":"main"}],[{"index":0,"node":"Insert New Lead","type":"main"}]]},"Update Existing Lead":{"main":[[{"index":0,"node":"Respond Updated 200","type":"main"}]]},"Insert New Lead":{"main":[[{"index":0,"node":"Respond Created 201","type":"main"}]]},"Respond Created 201":{"main":[[{"index":0,"node":"Trigger Lead Scoring","type":"main"}]]},"Trigger Lead Scoring":{"main":[[{"index":0,"node":"Build Welcome Context","type":"main"}]]},"Build Welcome Context":{"main":[[{"index":0,"node":"RAG Query","type":"main"}]]},"RAG Query":{"main":[[{"index":0,"node":"Generate Welcome Email","type":"main"}]]},"OpenRouter Email Model":{"ai_languageModel":[[{"index":0,"node":"Generate Welcome Email","type":"ai_languageModel"}]]},"Generate Welcome Email":{"main":[[{"index":0,"node":"Insert Approval Queue","type":"main"}]]},"Insert Approval Queue":{"main":[[{"index":0,"node":"Log Interaction","type":"main"}]]},"Log Interaction":{"main":[[{"index":0,"node":"Notify Sales (Gmail)","type":"main"}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"3b3ff67a-59f4-49c8-af47-9481400e4c0d","activeVersionId":"3b3ff67a-59f4-49c8-af47-9481400e4c0d","versionCounter":21,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-10T08:34:11.919Z","createdAt":"2026-06-10T08:34:11.919Z","role":"workflow:owner","workflowId":"PBf0oGbrZJiePTbp","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":"Version 3b3ff67a","description":""}}]