n8n-workflows/exports/01-lead-scoring.json
[{"updatedAt":"2026-06-26T09:48:52.056Z","createdAt":"2026-06-10T08:31:30.867Z","id":"GMk2rAT2eJSDLAmz","name":"01 Lead Capture - Lead Scoring","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"trigger-1","name":"When Executed by Another Workflow","position":[240,304],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1},{"parameters":{"model":"openai/gpt-oss-120b","options":{"responseFormat":"json_object"}},"id":"openrouter-llm","name":"OpenRouter Chat Model","position":[400,480],"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"credentials":{"openRouterApi":{"id":"KcmSbiXzRcwbyleM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Score this lead from 1 to 100 based on the following criteria:\n- Company size (larger = higher score)\n- Industry fit (tech, finance, healthcare = higher)\n- Source quality (referral > organic > paid > cold)\n- Completeness of contact info\n\nLead details:\nName: {{ $json.name }}\nCompany: {{ $json.company || 'unknown' }}\nSource: {{ $json.source || 'website' }}\nPhone provided: {{ $json.phone ? 'yes' : 'no' }}\n\nRespond with this exact JSON format (return JSON only):\n{\n  \"score\": <number 1-100>,\n  \"category\": \"<Hot|Warm|Cold>\",\n  \"reason\": \"<one sentence explanation>\"\n}\n\nRules:\n- Hot = score 70-100\n- Warm = score 40-69\n- Cold = score 1-39","messages":{"messageValues":[{"message":"You are a lead scoring assistant for a B2B SaaS company. Score leads based on the information provided. Respond ONLY with valid JSON. No explanation, no markdown, no extra text."}]},"batching":{}},"id":"chain-score","maxTries":2,"name":"Score Lead (OpenRouter)","position":[480,304],"retryOnFail":true,"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"waitBetweenTries":2000},{"parameters":{"jsCode":"// Parse the LLM response from Basic LLM Chain. Output shape varies:\n//   { text: \"...\" } | { output: \"...\" } | { response: \"...\" } | string\nconst item = $input.first().json;\n\nconst raw =\n  item.text ??\n  item.output ??\n  item.response ??\n  item.message?.content ??\n  item.content ??\n  (typeof item === 'string' ? item : JSON.stringify(item));\n\nlet parsed;\ntry {\n  // Strip ```json fences if the model wraps output\n  const cleaned = String(raw).trim()\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/```\\s*$/i, '');\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Failed to parse scoring JSON. Raw response: ' + String(raw).slice(0, 500));\n}\n\nconst lead = $('When Executed by Another Workflow').first().json;\nif (!lead.lead_id) {\n  throw new Error('Missing lead_id on input. Caller must pass { lead_id, name, ... }.');\n}\n\nconst allowedCategories = ['Hot', 'Warm', 'Cold'];\nconst category = allowedCategories.includes(parsed.category) ? parsed.category : 'Cold';\nconst score = Math.max(1, Math.min(100, Math.round(Number(parsed.score)) || 1));\n\nreturn [{\n  json: {\n    lead_id: lead.lead_id,\n    score,\n    category,\n    reason: parsed.reason || ''\n  }\n}];"},"id":"code-parse","name":"Parse Scoring JSON","position":[720,304],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"operation":"update","schema":{"__rl":true,"cachedResultName":"public","mode":"list","value":"public"},"table":{"__rl":true,"cachedResultName":"leads","mode":"list","value":"leads"},"columns":{"mappingMode":"defineBelow","value":{"category":"={{ $json.category }}","id":"={{ $json.lead_id }}","score":"={{ $json.score }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"pg-update-score","maxTries":2,"name":"Update Lead Score","position":[960,304],"retryOnFail":true,"type":"n8n-nodes-base.postgres","typeVersion":2.6,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"r1","name":"lead_id","value":"={{ $('Parse Scoring JSON').first().json.lead_id }}","type":"number"},{"id":"r2","name":"score","value":"={{ $('Parse Scoring JSON').first().json.score }}","type":"number"},{"id":"r3","name":"category","value":"={{ $('Parse Scoring JSON').first().json.category }}","type":"string"}]},"options":{}},"id":"set-return","name":"Return Scoring Result","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,304]}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"index":0,"node":"Score Lead (OpenRouter)","type":"ai_languageModel"}]]},"Parse Scoring JSON":{"main":[[{"index":0,"node":"Update Lead Score","type":"main"}]]},"Score Lead (OpenRouter)":{"main":[[{"index":0,"node":"Parse Scoring JSON","type":"main"}]]},"When Executed by Another Workflow":{"main":[[{"index":0,"node":"Score Lead (OpenRouter)","type":"main"}]]},"Update Lead Score":{"main":[[{"node":"Return Scoring Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"5f1de39b-2ed5-4f87-91ab-ef2fad336532","activeVersionId":"5f1de39b-2ed5-4f87-91ab-ef2fad336532","versionCounter":11,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-10T08:31:30.867Z","createdAt":"2026-06-10T08:31:30.867Z","role":"workflow:owner","workflowId":"GMk2rAT2eJSDLAmz","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":"Version 5f1de39b","description":""}}]