n8n-workflows/exports/02-email-triage.json
[{"updatedAt":"2026-06-26T10:06:33.556Z","createdAt":"2026-06-25T06:07:48.682Z","id":"U0rdX8dTL1Wrp2dm","name":"02 Email Triage - Incoming Gmail","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":3,"unit":"minutes"}]},"filters":{"q":"label:crm-test"}},"id":"gtrigger","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[240,368],"credentials":{"gmailOAuth2":{"id":"0o1rdGi8vITrxglJ","name":"Gmail account 2"}}},{"parameters":{"jsCode":"const j = $input.first().json;\nfunction pick(){ for (const k of arguments){ if (j[k] != null && j[k] !== '') return j[k]; } return ''; }\n\nlet senderEmail = '';\nlet senderName = '';\nconst fromRaw = String(pick('From','from','fromEmail') || '');\nconst m = fromRaw.match(/^(.*?)<([^>]+)>/);\nif (m) { senderName = m[1].replace(/\"/g,'').trim(); senderEmail = m[2].trim(); }\nelse { senderEmail = fromRaw.trim(); }\nif (j.from && typeof j.from === 'object' && j.from.value && j.from.value[0]) {\n  senderEmail = j.from.value[0].address || senderEmail;\n  senderName = j.from.value[0].name || senderName;\n}\nsenderEmail = String(senderEmail || '').toLowerCase();\nif (!senderName) senderName = (senderEmail.split('@')[0] || 'there');\nsenderName = senderName.replace(/,/g, ' ').trim();\nconst firstName = (senderName.split(' ')[0] || 'there');\n\nconst subject = String(pick('Subject','subject') || '(no subject)');\nconst body = String(pick('text','textPlain','snippet','bodyPlain') || '');\nconst threadId = String(pick('threadId','threadID') || '');\nconst messageId = String(pick('id','messageId') || '');\n\nreturn [{ json: { subject, body, senderEmail, senderName, firstName, threadId, messageId } }];"},"id":"normalize","name":"Normalize Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,368]},{"parameters":{"model":"openai/gpt-oss-120b","options":{"responseFormat":"json_object"}},"id":"classify-model","name":"OpenRouter Classify Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[768,592],"credentials":{"openRouterApi":{"id":"KcmSbiXzRcwbyleM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Classify this customer email.\n\nEmail subject: {{ $json.subject }}\nEmail body: {{ $json.body }}\n\nPick exactly one category:\n- Support: technical issues, how-to questions, product help\n- Sales: pricing inquiries, demo requests, purchase interest\n- Billing: invoices, payments, subscription changes\n- Complaint: negative feedback, escalations, unhappy customers\n- Partnership: collaboration, integration, business proposals\n- Spam: unsolicited, irrelevant, automated\n\nPick exactly one priority:\n- CRITICAL: system outage, data loss, security breach, legal threat\n- HIGH: core feature broken, blocked workflow, angry enterprise customer\n- MEDIUM: general support questions, minor bugs, billing confusion\n- LOW: feature requests, general feedback, non-urgent questions\n\nRespond with this exact JSON format (return JSON only):\n{ \"category\": \"<category>\", \"priority\": \"<CRITICAL|HIGH|MEDIUM|LOW>\", \"confidence\": <number 0.0-1.0>, \"reason\": \"<one sentence>\" }","messages":{"messageValues":[{"message":"You are an email triage assistant for a B2B SaaS company. Respond ONLY with valid JSON. No explanation, no markdown, no extra text."}]},"batching":{}},"id":"classify","name":"Classify Email","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[688,368],"maxTries":2,"retryOnFail":true,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst raw = item.text ?? item.output ?? item.response ?? (item.message && item.message.content) ?? item.content ?? (typeof item === 'string' ? item : JSON.stringify(item));\nlet parsed;\ntry {\n  const cleaned = String(raw).trim().replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '');\n  parsed = JSON.parse(cleaned);\n} catch (e) { parsed = {}; }\nconst cats = ['Support','Sales','Billing','Complaint','Partnership','Spam'];\nconst prios = ['CRITICAL','HIGH','MEDIUM','LOW'];\nconst category = cats.includes(parsed.category) ? parsed.category : 'Support';\nconst priority = prios.includes(parsed.priority) ? parsed.priority : 'MEDIUM';\nconst n = $('Normalize Email').first().json;\nreturn [{ json: Object.assign({}, n, { category, priority, confidence: Number(parsed.confidence) || null, classify_reason: parsed.reason || '' }) }];"},"id":"parse-class","name":"Parse Classification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,368]},{"parameters":{"operation":"executeQuery","query":"SELECT id, name FROM customers WHERE email = $1 LIMIT 1","options":{"queryReplacement":"={{ $json.senderEmail }}"}},"id":"lookup","name":"Lookup Customer","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,368],"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.id }}","operator":{"operation":"exists","singleValue":true,"type":"number"},"rightValue":0}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3}},"options":{}},"id":"if-cust","name":"Customer Found?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1488,368]},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"customer_id","type":"number","value":"={{ $json.id }}"}]},"options":{}},"id":"use-existing","name":"Use Existing Customer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,272]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (name, email, source, status) VALUES ($1, $2, 'gmail', 'new') ON CONFLICT (email) DO UPDATE SET updated_at = NOW() RETURNING id","options":{"queryReplacement":"={{ $('Parse Classification').first().json.senderName }},{{ $('Parse Classification').first().json.senderEmail }}"}},"id":"ins-lead","name":"Insert Lead","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1712,464],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO customers (lead_id, name, email) VALUES ($1, $2, $3) ON CONFLICT (email) DO UPDATE SET name = EXCLUDED.name RETURNING id","options":{"queryReplacement":"={{ $('Insert Lead').first().json.id }},{{ $('Parse Classification').first().json.senderName }},{{ $('Parse Classification').first().json.senderEmail }}"}},"id":"ins-customer","name":"Insert Customer","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1936,464],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"n1","name":"customer_id","type":"number","value":"={{ $json.id }}"}]},"options":{}},"id":"use-new","name":"Use New Customer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,464]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public","cachedResultName":"public"},"table":{"__rl":true,"mode":"list","value":"tickets","cachedResultName":"tickets"},"columns":{"mappingMode":"defineBelow","value":{"customer_id":"={{ $json.customer_id }}","subject":"={{ $('Parse Classification').first().json.subject }}","body":"={{ $('Parse Classification').first().json.body }}","category":"={{ $('Parse Classification').first().json.category }}","priority":"={{ $('Parse Classification').first().json.priority }}","status":"open","source_email":"={{ $('Parse Classification').first().json.senderEmail }}","gmail_thread_id":"={{ $('Parse Classification').first().json.threadId }}"},"schema":[{"id":"customer_id","displayName":"customer_id","type":"number","required":false,"canBeUsedToMatch":false},{"id":"subject","displayName":"subject","type":"string","required":false,"canBeUsedToMatch":false},{"id":"body","displayName":"body","type":"string","required":false,"canBeUsedToMatch":false},{"id":"category","displayName":"category","type":"string","required":false,"canBeUsedToMatch":false},{"id":"priority","displayName":"priority","type":"string","required":false,"canBeUsedToMatch":false},{"id":"status","displayName":"status","type":"string","required":false,"canBeUsedToMatch":false},{"id":"source_email","displayName":"source_email","type":"string","required":false,"canBeUsedToMatch":false},{"id":"gmail_thread_id","displayName":"gmail_thread_id","type":"string","required":false,"canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ins-ticket","name":"Insert Ticket","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2384,368],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"hRqXHmh2Uk42fAKq","cachedResultName":"03 Knowledge Base - Query"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ ($('Parse Classification').first().json.subject + ' ' + $('Parse Classification').first().json.body).slice(0, 500) }}"},"schema":[{"id":"query","displayName":"query","type":"string","required":false,"canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"waitForSubWorkflow":true}},"id":"rag","name":"RAG Query","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2608,368],"onError":"continueRegularOutput"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"id":"draft-model","name":"OpenRouter Draft Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2912,592],"credentials":{"openRouterApi":{"id":"KcmSbiXzRcwbyleM","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Draft a response to the following customer email.\n\nCustomer name: {{ $('Parse Classification').first().json.firstName }}\nEmail subject: {{ $('Parse Classification').first().json.subject }}\nEmail category: {{ $('Parse Classification').first().json.category }}\nPriority: {{ $('Parse Classification').first().json.priority }}\n\nCustomer email:\n---\n{{ $('Parse Classification').first().json.body }}\n---\n\nRelevant knowledge base context:\n---\n{{ $('RAG Query').first().json.context }}\n---\n\nWrite only the email body. No subject line. No \"Subject:\" prefix. Start with a greeting using the customer's first name.","messages":{"messageValues":[{"message":"You are a professional customer support specialist for a SaaS company. Your job is to draft responses to customer emails.\n\nRules you must follow:\n1. Use ONLY the provided knowledge base context to answer questions.\n2. If the context does not contain enough information to answer confidently, say: \"I'll need to look into this further and get back to you shortly.\"\n3. Never invent pricing, features, policies, or commitments.\n4. Keep responses professional, concise, and friendly.\n5. Address the customer by their first name.\n6. Do not sign off with a name - leave the signature blank."}]},"batching":{}},"id":"gen-draft","name":"Generate Draft","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2832,368],"retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public","cachedResultName":"public"},"table":{"__rl":true,"mode":"list","value":"approval_queue","cachedResultName":"approval_queue"},"columns":{"mappingMode":"defineBelow","value":{"type":"ticket_reply","ticket_id":"={{ $('Insert Ticket').first().json.id }}","customer_id":"={{ $('Insert Ticket').first().json.customer_id }}","recipient_email":"={{ $('Parse Classification').first().json.senderEmail }}","subject":"=Re: {{ $('Parse Classification').first().json.subject }}","draft_body":"={{ $json.text }}","context_sources":"={{ JSON.stringify($('RAG Query').first().json.sources || []) }}","status":"pending"},"schema":[{"id":"type","displayName":"type","type":"string","required":false,"canBeUsedToMatch":false},{"id":"ticket_id","displayName":"ticket_id","type":"number","required":false,"canBeUsedToMatch":false},{"id":"customer_id","displayName":"customer_id","type":"number","required":false,"canBeUsedToMatch":false},{"id":"recipient_email","displayName":"recipient_email","type":"string","required":false,"canBeUsedToMatch":false},{"id":"subject","displayName":"subject","type":"string","required":false,"canBeUsedToMatch":false},{"id":"draft_body","displayName":"draft_body","type":"string","required":false,"canBeUsedToMatch":false},{"id":"context_sources","displayName":"context_sources","type":"string","required":false,"canBeUsedToMatch":false},{"id":"status","displayName":"status","type":"string","required":false,"canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"ins-approval","name":"Insert Approval Queue","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3184,368],"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public","cachedResultName":"public"},"table":{"__rl":true,"mode":"list","value":"interactions","cachedResultName":"interactions"},"columns":{"mappingMode":"defineBelow","value":{"customer_id":"={{ $('Insert Ticket').first().json.customer_id }}","event_type":"email_received","description":"=Ticket #{{ $('Insert Ticket').first().json.id }}: {{ $('Parse Classification').first().json.category }} / {{ $('Parse Classification').first().json.priority }} - {{ $('Parse Classification').first().json.subject }}","metadata":"={{ JSON.stringify({ ticket_id: $('Insert Ticket').first().json.id, category: $('Parse Classification').first().json.category, priority: $('Parse Classification').first().json.priority }) }}"},"schema":[{"id":"customer_id","displayName":"customer_id","type":"number","required":false,"canBeUsedToMatch":false},{"id":"event_type","displayName":"event_type","type":"string","required":false,"canBeUsedToMatch":false},{"id":"description","displayName":"description","type":"string","required":false,"canBeUsedToMatch":false},{"id":"metadata","displayName":"metadata","type":"string","required":false,"canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"log-interaction","name":"Log Interaction","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3408,368],"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"onError":"continueRegularOutput"},{"parameters":{"sendTo":"you@example.com","subject":"=New {{ $('Parse Classification').first().json.priority }} {{ $('Parse Classification').first().json.category }} ticket #{{ $('Insert Ticket').first().json.id }}","emailType":"text","message":"=A new support email was triaged and a draft reply is queued for approval.\n\nFrom: {{ $('Parse Classification').first().json.senderEmail }}\nSubject: {{ $('Parse Classification').first().json.subject }}\nCategory: {{ $('Parse Classification').first().json.category }}\nPriority: {{ $('Parse Classification').first().json.priority }}\nTicket ID: {{ $('Insert Ticket').first().json.id }}\n\nReview the draft in the dashboard approvals queue.","options":{}},"id":"notify","name":"Notify Admin (Gmail)","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3632,368],"webhookId":"ffa5c754-e8c3-45b7-9e6a-999afe08ab35","credentials":{"gmailOAuth2":{"id":"0o1rdGi8vITrxglJ","name":"Gmail account 2"}},"onError":"continueRegularOutput"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Normalize Email","type":"main","index":0}]]},"Normalize Email":{"main":[[{"node":"Classify Email","type":"main","index":0}]]},"OpenRouter Classify Model":{"ai_languageModel":[[{"node":"Classify Email","type":"ai_languageModel","index":0}]]},"Classify Email":{"main":[[{"node":"Parse Classification","type":"main","index":0}]]},"Parse Classification":{"main":[[{"node":"Lookup Customer","type":"main","index":0}]]},"Lookup Customer":{"main":[[{"node":"Customer Found?","type":"main","index":0}]]},"Customer Found?":{"main":[[{"node":"Use Existing Customer","type":"main","index":0}],[{"node":"Insert Lead","type":"main","index":0}]]},"Insert Lead":{"main":[[{"node":"Insert Customer","type":"main","index":0}]]},"Insert Customer":{"main":[[{"node":"Use New Customer","type":"main","index":0}]]},"Use Existing Customer":{"main":[[{"node":"Insert Ticket","type":"main","index":0}]]},"Use New Customer":{"main":[[{"node":"Insert Ticket","type":"main","index":0}]]},"Insert Ticket":{"main":[[{"node":"RAG Query","type":"main","index":0}]]},"RAG Query":{"main":[[{"node":"Generate Draft","type":"main","index":0}]]},"OpenRouter Draft Model":{"ai_languageModel":[[{"node":"Generate Draft","type":"ai_languageModel","index":0}]]},"Generate Draft":{"main":[[{"node":"Insert Approval Queue","type":"main","index":0}]]},"Insert Approval Queue":{"main":[[{"node":"Log Interaction","type":"main","index":0}]]},"Log Interaction":{"main":[[{"node":"Notify Admin (Gmail)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila","binaryMode":"separate"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1782382104}}},"meta":null,"nodeGroups":[],"pinData":{},"versionId":"96ad7d10-82c1-4426-9389-96864e19cb55","activeVersionId":null,"versionCounter":12,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-25T06:07:48.682Z","createdAt":"2026-06-25T06:07:48.682Z","role":"workflow:owner","workflowId":"U0rdX8dTL1Wrp2dm","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":null,"description":null}}]