n8n-workflows/exports/03-kb-ingestion.json
[{"updatedAt":"2026-06-24T17:04:06.318Z","createdAt":"2026-06-22T17:20:53.248Z","id":"nOcjyDjmjq9kYK4k","name":"03 Knowledge Base - Ingestion","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ingest-document","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh","name":"Webhook (POST /ingest-document)","position":[224,304],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"alwaysOutputData":true,"webhookId":"1c0aa772-9a1b-4040-af03-f744d3d71eaa","credentials":{"httpHeaderAuth":{"id":"OCUlbagYJRvZGH0u","name":"Header Auth account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Read the ORIGINAL webhook payload by name (immediate upstream is now the\n// Supersede HTTP node, whose output is the Qdrant response, not our body).\nconst wh = $('Webhook (POST /ingest-document)').first().json;\nconst body = wh.body || wh;\n\nlet text = body.text || '';\nif (!text && body.content_base64) {\n  text = Buffer.from(body.content_base64, 'base64').toString('utf-8');\n}\nif (!text || !text.trim()) {\n  throw new Error('No extractable text. Provide body.text or body.content_base64.');\n}\n\nconst meta = {\n  document_id: body.document_id ?? null,\n  doc_key: body.doc_key || body.filename || 'untitled',\n  version: body.version ?? 1,\n  filename: body.filename || 'untitled.txt',\n  category: body.category || 'general',\n  department: body.department || 'general',\n  authority_weight: body.authority_weight ?? 1.0,\n  source_type: body.source_type || 'text',\n  effective_from: body.effective_from || null,\n  effective_to: body.effective_to || null,\n  uploaded_at: new Date().toISOString()\n};\n\nconst chunkSize = 900;\nconst overlap = 100;\nconst chunks = [];\nlet start = 0;\nwhile (start < text.length) {\n  const end = Math.min(start + chunkSize, text.length);\n  const index = chunks.length;\n  // deterministic numeric point id from doc_key + version + index\n  const s = `${meta.doc_key}_v${meta.version}_${index}`;\n  let h = 0;\n  for (let i = 0; i < s.length; i++) { h = ((h << 5) - h + s.charCodeAt(i)) | 0; }\n  chunks.push({ ...meta, text: text.slice(start, end), chunk_index: index, point_id: Math.abs(h) });\n  start += chunkSize - overlap;\n}\nreturn chunks.map(c => ({ json: c }));"},"id":"chunk","name":"Extract + Chunk Text","position":[448,304],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"options":{"reset":false}},"id":"loop","name":"Loop Chunks","position":[672,304],"type":"n8n-nodes-base.splitInBatches","typeVersion":3},{"parameters":{"method":"POST","url":"http://VPS2_IP:11434/api/embed","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"input\": {{ JSON.stringify($json.text || '') }}\n}","options":{}},"id":"embed","name":"Embed Chunk (Ollama)","position":[880,432],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/ai_crm_knowledge/points","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [\n    {\n      \"id\": {{ JSON.stringify($('Loop Chunks').item.json.point_id) }},\n      \"vector\": {\n        \"dense\": {{ JSON.stringify(($('Embed Chunk (Ollama)').item.json.embeddings && $('Embed Chunk (Ollama)').item.json.embeddings[0]) || []) }},\n        \"text_sparse\": {\n          \"indices\": {{ JSON.stringify(($json.sparse_vectors && $json.sparse_vectors[0] && $json.sparse_vectors[0].indices) || []) }},\n          \"values\": {{ JSON.stringify(($json.sparse_vectors && $json.sparse_vectors[0] && $json.sparse_vectors[0].values) || []) }}\n        }\n      },\n      \"payload\": {\n        \"text\": {{ JSON.stringify($('Loop Chunks').item.json.text || '') }},\n        \"document_id\": {{ JSON.stringify($('Loop Chunks').item.json.document_id ?? null) }},\n        \"doc_key\": {{ JSON.stringify($('Loop Chunks').item.json.doc_key || '') }},\n        \"version\": {{ JSON.stringify($('Loop Chunks').item.json.version ?? 1) }},\n        \"filename\": {{ JSON.stringify($('Loop Chunks').item.json.filename || '') }},\n        \"status\": \"active\",\n        \"category\": {{ JSON.stringify($('Loop Chunks').item.json.category || 'general') }},\n        \"department\": {{ JSON.stringify($('Loop Chunks').item.json.department || 'general') }},\n        \"authority_weight\": {{ JSON.stringify($('Loop Chunks').item.json.authority_weight ?? 1.0) }},\n        \"source_type\": {{ JSON.stringify($('Loop Chunks').item.json.source_type || 'text') }},\n        \"chunk_index\": {{ JSON.stringify($('Loop Chunks').item.json.chunk_index ?? 0) }},\n        \"effective_from\": {{ JSON.stringify($('Loop Chunks').item.json.effective_from ?? null) }},\n        \"effective_to\": {{ JSON.stringify($('Loop Chunks').item.json.effective_to ?? null) }},\n        \"uploaded_at\": {{ JSON.stringify($('Loop Chunks').item.json.uploaded_at || '') }}\n      }\n    }\n  ]\n}","options":{}},"id":"upsert","name":"Upsert to Qdrant","position":[1328,432],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"onError":"continueRegularOutput"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'ingested', document_id: $('Extract + Chunk Text').first().json.document_id, doc_key: $('Extract + Chunk Text').first().json.doc_key, version: $('Extract + Chunk Text').first().json.version, chunks: $('Extract + Chunk Text').all().length, point_ids: $('Extract + Chunk Text').all().map(i => i.json.point_id) }) }}","options":{"responseCode":200}},"id":"respond","name":"Respond Success","position":[1104,192],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5},{"parameters":{"method":"POST","url":"http://sparse-encoder:8090/encode","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($('Loop Chunks').item.json.text || '') }}\n}","options":{}},"id":"sparse","name":"Sparse Encode","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1104,432],"onError":"continueRegularOutput"}],"connections":{"Extract + Chunk Text":{"main":[[{"index":0,"node":"Loop Chunks","type":"main"}]]},"Loop Chunks":{"main":[[{"node":"Respond Success","type":"main","index":0}],[{"index":0,"node":"Embed Chunk (Ollama)","type":"main"}]]},"Upsert to Qdrant":{"main":[[{"index":0,"node":"Loop Chunks","type":"main"}]]},"Webhook (POST /ingest-document)":{"main":[[{"node":"Extract + Chunk Text","type":"main","index":0}]]},"Embed Chunk (Ollama)":{"main":[[{"node":"Sparse Encode","type":"main","index":0}]]},"Sparse Encode":{"main":[[{"node":"Upsert to Qdrant","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"f6fafe9f-5a49-40ee-90af-c2479ce571a1","activeVersionId":"a358278a-991b-4bef-8b69-31af9f7f7402","versionCounter":17,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-22T17:20:53.248Z","createdAt":"2026-06-22T17:20:53.248Z","role":"workflow:owner","workflowId":"nOcjyDjmjq9kYK4k","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":null,"description":null}}]