n8n-workflows/exports/03-kb-query.json
[{"updatedAt":"2026-06-24T17:29:34.736Z","createdAt":"2026-06-22T17:19:14.340Z","id":"hRqXHmh2Uk42fAKq","name":"03 Knowledge Base - Query","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger","name":"When Called With Query","parameters":{"inputSource":"passthrough"},"position":[240,300],"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.2},{"id":"embed","name":"Embed Query (Ollama)","onError":"continueRegularOutput","parameters":{"jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"input\": {{ JSON.stringify($json.query || '') }}\n}","method":"POST","sendBody":true,"specifyBody":"json","url":"http://VPS2_IP:11434/api/embed"},"position":[460,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"sparse-q","name":"Sparse Encode Query","onError":"continueRegularOutput","parameters":{"jsonBody":"={\n  \"text\": {{ JSON.stringify($('When Called With Query').item.json.query || '') }}\n}","method":"POST","sendBody":true,"specifyBody":"json","url":"http://sparse-encoder:8090/encode"},"position":[680,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"search","name":"Search Qdrant","onError":"continueRegularOutput","parameters":{"jsonBody":"={\n  \"prefetch\": [\n    {\n      \"query\": {{ JSON.stringify($('Embed Query (Ollama)').item.json.embeddings[0]) }},\n      \"using\": \"dense\",\n      \"limit\": 20\n    },\n    {\n      \"query\": {\n        \"indices\": {{ JSON.stringify($json.sparse_vectors[0].indices) }},\n        \"values\": {{ JSON.stringify($json.sparse_vectors[0].values) }}\n      },\n      \"using\": \"text_sparse\",\n      \"limit\": 20\n    }\n  ],\n  \"query\": { \"fusion\": \"rrf\" },\n  \"limit\": 20,\n  \"with_payload\": true,\n  \"filter\": { \"must\": [{ \"key\": \"status\", \"match\": { \"value\": \"active\" } }] }\n}","method":"POST","sendBody":true,"specifyBody":"json","url":"http://qdrant:6333/collections/ai_crm_knowledge/points/query"},"position":[900,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"rerank","name":"Rerank","onError":"continueRegularOutput","parameters":{"jsonBody":"={\n  \"model\": \"bge-reranker-v2-m3\",\n  \"query\": {{ JSON.stringify($('When Called With Query').item.json.query || '') }},\n  \"documents\": {{ JSON.stringify((($json.result && $json.result.points) || $json.points || $json.result || []).map(function(r) { return (r.payload && r.payload.text) || ''; })) }},\n  \"top_n\": 10\n}","method":"POST","options":{"timeout":30000},"sendBody":true,"specifyBody":"json","url":"http://VPS2_IP:8082/v1/rerank"},"position":[1120,300],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"format","name":"Format Context","parameters":{"jsCode":"// Rerank-ordered ranking with authority tiebreak + fail-open fallback.\nconst queryResult = $('Search Qdrant').item.json;\nconst reranked = $('Rerank').item.json;\n// Query API returns {result: {points: [...]}} — handle multiple response shapes\nconst hits = (queryResult.result && Array.isArray(queryResult.result.points))\n  ? queryResult.result.points\n  : (Array.isArray(queryResult.result) ? queryResult.result\n    : (Array.isArray(queryResult.points) ? queryResult.points : []));\nconst now = new Date();\n\nlet ranked;\nif (reranked && reranked.results && reranked.results.length > 0) {\n  // Reranker succeeded — use rerank scores as primary sort\n  ranked = reranked.results\n    .map(r => {\n      const h = hits[r.index];\n      if (!h) return null;\n      const from = h.payload?.effective_from ? new Date(h.payload.effective_from) : null;\n      const to = h.payload?.effective_to ? new Date(h.payload.effective_to) : null;\n      const inEffect = (!from || from <= now) && (!to || to >= now);\n      return { ...h, _rerank: r.relevance_score, _inEffect: inEffect };\n    })\n    .filter(h => h && h._inEffect)\n    .sort((a, b) => b._rerank - a._rerank);\n} else {\n  // Fail-open: reranker down — fall back to authority blend\n  ranked = hits.map(h => {\n    const authority = h.payload?.authority_weight ?? 1.0;\n    const from = h.payload?.effective_from ? new Date(h.payload.effective_from) : null;\n    const to = h.payload?.effective_to ? new Date(h.payload.effective_to) : null;\n    const inEffect = (!from || from <= now) && (!to || to >= now);\n    return { ...h, _rerank: (h.score || 0) * authority, _inEffect: inEffect };\n  }).filter(h => h._inEffect).sort((a, b) => b._rerank - a._rerank);\n}\n\n// Dedup + token-budget guard (unchanged)\nconst MAX_CHARS = 24000;\nconst seen = new Set();\nconst top = [];\nlet used = 0;\nfor (const h of ranked) {\n  const t = h.payload?.text || '';\n  const k = t.slice(0, 80);\n  if (seen.has(k)) continue;\n  if (used + t.length > MAX_CHARS && top.length >= 1) break;\n  seen.add(k); top.push(h); used += t.length;\n  if (top.length >= 5) break;\n}\n\nconst context = top.map((h, i) =>\n  `[Source ${i+1}: ${h.payload?.doc_key} v${h.payload?.version} (${h.payload?.category})]\\n${h.payload?.text}`\n).join('\\n\\n');\n\nconst sources = top.map(h => ({\n  document_id: h.payload?.document_id, doc_key: h.payload?.doc_key,\n  version: h.payload?.version, category: h.payload?.category,\n  score: h.score, rerank_score: h._rerank,\n  authority: h.payload?.authority_weight\n}));\n\nreturn [{ json: { context, sources, context_chars: used } }];","language":"javaScript"},"position":[1340,300],"type":"n8n-nodes-base.code","typeVersion":2}],"connections":{"When Called With Query":{"main":[[{"index":0,"node":"Embed Query (Ollama)","type":"main"}]]},"Embed Query (Ollama)":{"main":[[{"index":0,"node":"Sparse Encode Query","type":"main"}]]},"Sparse Encode Query":{"main":[[{"index":0,"node":"Search Qdrant","type":"main"}]]},"Search Qdrant":{"main":[[{"index":0,"node":"Rerank","type":"main"}]]},"Rerank":{"main":[[{"index":0,"node":"Format Context","type":"main"}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"8f905f1e-2ea8-4974-a0ac-37e50a4de9e6","activeVersionId":"8f905f1e-2ea8-4974-a0ac-37e50a4de9e6","versionCounter":8,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-22T17:19:14.340Z","createdAt":"2026-06-22T17:19:14.340Z","role":"workflow:owner","workflowId":"hRqXHmh2Uk42fAKq","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":null,"description":null}}]