n8n-workflows/exports/04-approval-sender.json
[{"updatedAt":"2026-06-25T14:59:51.331Z","createdAt":"2026-06-22T17:25:02.471Z","id":"no6tWzDu3c3ZCAwo","name":"01/02 Approval - Send Approved Emails","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sched","name":"Schedule (every 2 min)","parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"position":[240,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"alwaysOutputData":true,"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"id":"get-approved","name":"Get Approved Drafts","onError":"stopWorkflow","parameters":{"operation":"executeQuery","query":"SELECT id, type, lead_id, customer_id, ticket_id, recipient_email, subject, draft_body, edited_body\nFROM approval_queue\nWHERE status = 'approved'\nORDER BY created_at ASC\nLIMIT 10;"},"position":[460,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"credentials":{"gmailOAuth2":{"id":"0o1rdGi8vITrxglJ","name":"Gmail account 2"}},"id":"send","name":"Send Email","onError":"continueRegularOutput","parameters":{"emailType":"text","message":"={{ $json.edited_body || $json.draft_body }}","resource":"message","sendTo":"={{ $json.recipient_email }}","subject":"={{ $json.subject }}"},"position":[680,300],"type":"n8n-nodes-base.gmail","typeVersion":2.1,"webhookId":"0c81da27-6916-4091-b766-a42d409015cf"},{"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"id":"mark-sent","maxTries":2,"name":"Mark Sent","onError":"continueRegularOutput","parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ $('Get Approved Drafts').item.json.id }}"},"query":"UPDATE approval_queue\nSET status = 'sent', reviewed_at = COALESCE(reviewed_at, NOW())\nWHERE id = $1;"},"position":[900,300],"retryOnFail":true,"type":"n8n-nodes-base.postgres","typeVersion":2.6,"waitBetweenTries":2000},{"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"id":"log-sent","name":"Log Email Sent","onError":"continueRegularOutput","parameters":{"columns":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","schema":[{"canBeUsedToMatch":false,"displayName":"lead_id","id":"lead_id","required":false,"type":"number"},{"canBeUsedToMatch":false,"displayName":"customer_id","id":"customer_id","required":false,"type":"number"},{"canBeUsedToMatch":false,"displayName":"event_type","id":"event_type","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"description","id":"description","required":false,"type":"string"},{"canBeUsedToMatch":false,"displayName":"metadata","id":"metadata","required":false,"type":"string"}],"value":{"customer_id":"={{ $('Get Approved Drafts').item.json.customer_id }}","description":"=Sent '{{ $('Get Approved Drafts').item.json.type }}' email to {{ $('Get Approved Drafts').item.json.recipient_email }}","event_type":"email_sent","lead_id":"={{ $('Get Approved Drafts').item.json.lead_id }}","metadata":"={{ JSON.stringify({ approval_id: $('Get Approved Drafts').item.json.id, type: $('Get Approved Drafts').item.json.type, ticket_id: $('Get Approved Drafts').item.json.ticket_id }) }}"}},"operation":"insert","schema":{"__rl":true,"cachedResultName":"public","mode":"list","value":"public"},"table":{"__rl":true,"cachedResultName":"interactions","mode":"list","value":"interactions"}},"position":[1120,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"advance-ticket","name":"Advance Ticket Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1340,300],"parameters":{"operation":"executeQuery","options":{"queryReplacement":"={{ $('Get Approved Drafts').item.json.ticket_id ?? '' }}"},"query":"UPDATE tickets SET status = 'pending_response', updated_at = NOW() WHERE id = NULLIF($1, '')::int AND status = 'open';"},"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000}],"connections":{"Get Approved Drafts":{"main":[[{"index":0,"node":"Send Email","type":"main"}]]},"Schedule (every 2 min)":{"main":[[{"index":0,"node":"Get Approved Drafts","type":"main"}]]},"Send Email":{"main":[[{"index":0,"node":"Mark Sent","type":"main"}]]},"Mark Sent":{"main":[[{"index":0,"node":"Log Email Sent","type":"main"}]]},"Log Email Sent":{"main":[[{"node":"Advance Ticket Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila"},"staticData":{"node:Schedule (every 2 min)":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"20f62420-73b9-46a0-9e55-68825d878805","activeVersionId":"20f62420-73b9-46a0-9e55-68825d878805","versionCounter":3,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-22T17:25:02.471Z","createdAt":"2026-06-22T17:25:02.471Z","role":"workflow:owner","workflowId":"no6tWzDu3c3ZCAwo","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":null,"description":null}}]