n8n-workflows/exports/04-ops-health-check.json
[{"updatedAt":"2026-06-24T16:02:14.041Z","createdAt":"2026-06-24T16:02:14.041Z","id":"G1dI9bSMQQbTS4Uu","name":"04 Ops - Health Check & Alert","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sched","name":"Schedule (every 15 min)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"chk-qdrant","name":"Check Qdrant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,400],"onError":"continueRegularOutput","alwaysOutputData":true,"parameters":{"url":"http://qdrant:6333/healthz","options":{"timeout":10000}}},{"id":"chk-ollama","name":"Check Ollama","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,400],"onError":"continueRegularOutput","alwaysOutputData":true,"parameters":{"url":"http://VPS2_IP:11434/api/tags","options":{"timeout":10000}}},{"id":"chk-pg","name":"Check Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,400],"onError":"continueRegularOutput","alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT 1 AS ok;"},"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"id":"chk-faileddocs","name":"Check Failed Docs","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,400],"onError":"continueRegularOutput","alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*)::int AS failed_count FROM knowledge_documents WHERE status = 'failed';"},"credentials":{"postgres":{"id":"g8sKJfsdBYSN7D1r","name":"Postgres account"}}},{"id":"evaluate","name":"Evaluate Health","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400],"parameters":{"language":"javaScript","jsCode":"// Gather each check's output (each upstream node emits exactly one item).\nfunction check(name) {\n  try {\n    const j = $(name).item.json;\n    if (j && (j.error || j.errorMessage)) {\n      return { ok: false, detail: String(j.error || j.errorMessage).slice(0, 300), json: j };\n    }\n    return { ok: true, detail: 'ok', json: j };\n  } catch (e) {\n    return { ok: false, detail: 'no response: ' + e.message };\n  }\n}\n\nconst checks = {\n  qdrant: check('Check Qdrant'),\n  ollama: check('Check Ollama'),\n  postgres: check('Check Postgres'),\n};\n\n// Ollama /api/tags should return a models array\nif (checks.ollama.ok) {\n  const m = checks.ollama.json && checks.ollama.json.models;\n  if (!Array.isArray(m)) checks.ollama = { ok: false, detail: 'unexpected /api/tags response' };\n}\n\n// Postgres SELECT 1 should return ok=1\nif (checks.postgres.ok) {\n  const v = checks.postgres.json && (checks.postgres.json.ok ?? checks.postgres.json['?column?']);\n  if (Number(v) !== 1) checks.postgres = { ok: false, detail: 'SELECT 1 did not return 1' };\n}\n\nconst failures = Object.entries(checks)\n  .filter(([, v]) => !v.ok)\n  .map(([k, v]) => `${k}: ${v.detail}`);\n\n// Failed ingestion rows\nlet failedDocs = 0;\ntry {\n  const fd = $('Check Failed Docs').item.json;\n  failedDocs = Number(fd.failed_count ?? fd.count ?? 0) || 0;\n} catch (e) { /* table/credential issue already surfaced via postgres check */ }\nif (failedDocs > 0) failures.push(`knowledge_documents: ${failedDocs} row(s) with status='failed'`);\n\nconst healthy = failures.length === 0;\nconst ts = new Date().toISOString();\nconst summary = healthy\n  ? `All systems OK at ${ts}`\n  : `AI-Ops health check FAILED at ${ts}\\n\\n` +\n    failures.map(f => `\\u2022 ${f}`).join('\\n') +\n    `\\n\\nChecked: Qdrant /healthz, Ollama /api/tags, Postgres SELECT 1, knowledge_documents.status='failed'.`;\n\nreturn [{ json: { healthy, failures, failed_docs: failedDocs, summary, checked_at: ts } }];"}},{"id":"if-unhealthy","name":"If Unhealthy","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1560,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.failures.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]}}},{"id":"alert","name":"Send Alert","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1780,320],"onError":"continueRegularOutput","parameters":{"resource":"message","emailType":"text","sendTo":"you@example.com","subject":"=⚠️ AI-Ops health check failed ({{ $json.failures.length }} issue(s))","message":"={{ $json.summary }}"},"credentials":{"gmailOAuth2":{"id":"bfQgEJg6hnBa4yMf","name":"Gmail account"}},"webhookId":"5f975362-7872-4497-9a0a-24d4e38eae8d"}],"connections":{"Schedule (every 15 min)":{"main":[[{"node":"Check Qdrant","type":"main","index":0}]]},"Check Qdrant":{"main":[[{"node":"Check Ollama","type":"main","index":0}]]},"Check Ollama":{"main":[[{"node":"Check Postgres","type":"main","index":0}]]},"Check Postgres":{"main":[[{"node":"Check Failed Docs","type":"main","index":0}]]},"Check Failed Docs":{"main":[[{"node":"Evaluate Health","type":"main","index":0}]]},"Evaluate Health":{"main":[[{"node":"If Unhealthy","type":"main","index":0}]]},"If Unhealthy":{"main":[[{"node":"Send Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila"},"staticData":{"node:Schedule (every 15 min)":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"f66d885a-3335-423a-a84d-4db0a727e55c","activeVersionId":"f66d885a-3335-423a-a84d-4db0a727e55c","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-24T16:02:14.041Z","createdAt":"2026-06-24T16:02:14.041Z","role":"workflow:owner","workflowId":"G1dI9bSMQQbTS4Uu","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":"Version f66d885a","description":""}}]