n8n-workflows/exports/test-rag-question-tester.json
[{"updatedAt":"2026-06-24T07:22:46.199Z","createdAt":"2026-06-24T07:22:46.199Z","id":"mxqtFdhfo9SUT9rV","name":"TEST - RAG Question Tester","description":null,"active":true,"isArchived":false,"nodes":[{"alwaysOutputData":true,"id":"wh","name":"Ask Question","onError":"continueRegularOutput","parameters":{"httpMethod":"POST","path":"test-rag","responseMode":"responseNode"},"position":[240,300],"type":"n8n-nodes-base.webhook","typeVersion":2.1,"webhookId":"daea31e2-1f9a-450b-b71d-85fe6cdcb687"},{"id":"rag","name":"RAG Query","onError":"continueRegularOutput","parameters":{"options":{"waitForSubWorkflow":true},"workflowId":{"__rl":true,"cachedResultName":"03 Knowledge Base - Query","cachedResultUrl":"/workflow/hRqXHmh2Uk42fAKq","mode":"list","value":"hRqXHmh2Uk42fAKq"},"workflowInputs":{"attemptToConvertTypes":false,"convertFieldsToString":false,"mappingMode":"defineBelow","schema":[{"canBeUsedToMatch":false,"displayName":"query","id":"query","required":false,"type":"string"}],"value":{"query":"={{ $json.body.question }}"}}},"position":[460,300],"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3},{"credentials":{"openRouterApi":{"id":"KcmSbiXzRcwbyleM","name":"OpenRouter account"}},"id":"llm-model","name":"OpenRouter Model","parameters":{"model":"openai/gpt-oss-120b:free"},"position":[580,500],"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1},{"id":"gen","name":"Generate Answer","onError":"continueRegularOutput","parameters":{"messages":{"messageValues":[{"message":"You are a helpful assistant. Answer the user's question using ONLY the provided context. If the context doesn't cover the question, say so clearly. Cite which source you used."}]},"promptType":"define","text":"=Question: {{ $('Ask Question').first().json.body.question }}\n\nContext:\n---\n{{ $json.context }}\n---\n\nAnswer concisely. Cite [Source N] when referencing specific info."},"position":[680,300],"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9},{"id":"format","name":"Format Test Result","parameters":{"jsCode":"const question = $('Ask Question').first().json.body.question;\nconst ragResult = $('RAG Query').first().json;\nconst llmAnswer = $json.text || $json.output || $json.response || '';\n\nreturn [{\n  json: {\n    question,\n    answer: llmAnswer,\n    sources_used: ragResult.sources || [],\n    raw_context: ragResult.context || '(empty - no matching docs)',\n    note: 'Check sources_used to see which doc_key + version + authority + score each chunk came from'\n  }\n}];","language":"javaScript"},"position":[900,300],"type":"n8n-nodes-base.code","typeVersion":2},{"id":"resp","name":"Respond","parameters":{"options":{"responseCode":200},"respondWith":"json","responseBody":"={{ JSON.stringify($json, null, 2) }}"},"position":[1120,300],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5}],"connections":{"Ask Question":{"main":[[{"index":0,"node":"RAG Query","type":"main"}]]},"Format Test Result":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Generate Answer":{"main":[[{"index":0,"node":"Format Test Result","type":"main"}]]},"OpenRouter Model":{"ai_languageModel":[[{"index":0,"node":"Generate Answer","type":"ai_languageModel"}]]},"RAG Query":{"main":[[{"index":0,"node":"Generate Answer","type":"main"}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Manila"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"1e8c1b79-baca-44da-99e0-bb25c830fabd","activeVersionId":"1e8c1b79-baca-44da-99e0-bb25c830fabd","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-24T07:22:46.199Z","createdAt":"2026-06-24T07:22:46.199Z","role":"workflow:owner","workflowId":"mxqtFdhfo9SUT9rV","projectId":"e6UroQCLuyDpTlPP","project":{"updatedAt":"2026-06-09T10:09:16.358Z","createdAt":"2026-06-09T09:17:31.540Z","id":"e6UroQCLuyDpTlPP","name":"James Anthony Rosales <you@example.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"2703a207-2355-4060-b5dc-7229a6b20624"}}],"versionMetadata":{"name":"Version 1e8c1b79","description":""}}]